
name: AOC - 2024
on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
    steps:
      - uses: actions/checkout@v4

      - name: Configure CMake ${{ matrix.os }}
        run: cmake -S . -B build

      - name: CMake Build ${{ matrix.os }}
        run: cmake --build build

      - name: Test ${{ matrix.os }}
        run: ctest --test-dir build/test/
